.tab {
  @apply .px-3 .py-2 .mr-1 .w-auto .text-lg;
  @apply .text-center .cursor-pointer .select-none;
  @apply .rounded .rounded-b-none .border .border-solid .border-transparent .border-b-0;
}
.tab-blue {
  @apply .bg-blue-700 .text-white;
}
.tab-white {
  @apply .text-gray-700 .border-blue-600;
  &:hover {
    @apply .bg-gray-200;
  }
}
